<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" packages="">
    <Appenders>
         <File name="fout" fileName="errors.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
         </File>
   </Appenders>
   <Loggers>
    <Root level="error">
       <AppenderRef ref="fout" />
    </Root>
   </Loggers>
</Configuration>